@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background-color: black;
  }

  #image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
  }

  .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
  }
}
